@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap');
/*Formatear todo y los fonts*/
*{
    margin:0 ;
    padding:0 ;
    font-family: 'Heebo', sans-serif;
    
}

.h1{
    font-size: 5rem;
    display: inline-block;
    padding: 0px 20px;
}

.sar{
   
    width: 10%;
    padding: 20px 50px;
    justify-content: center;
}
.menu{
    display: flex;
    text-decoration: teal;
   font-size: 1rem;
   width: 5%;
   padding: 0px 0px 0px 50px;
}
.item1{
    list-style: none;
    font-size: 2rem;
    text-decoration:none;    
}
.item{
    list-style: none;
    display: inline-block;
    text-decoration:none;
}
.cont{
    padding: 0px 20px;
}
.whatsapp{
    position: fixed;
    margin: 20px; 
    bottom: 0;
    width: 10%;

    right: 10px; 
}
.logowhats{
    width: 50%;
}
.insta{
    display: flex;
}
.nosotros{
    font-size: 3rem;
}
.element{
    display: grid;
    width: 20%;
    grid-gap: 10px;
    
}
.imagen{
    display:grid;
    width: 300%;
    margin: 0;
    border-radius: 5px;
}
.element-body{
    background-color: rgb(58, 19, 12);
    border-radius: 5px;
}
.element-text{
    color: rgb(48, 161, 37);
}
.objetos{
    display: grid;
    margin: 20px;
    grid-template-columns: 1fr 1fr;
    border-radius: 15px;
    background-color: #444;
    grid-gap: 10px;
    padding: 20px;
    font-size: 120%;
}